body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'sansbold', Helvetica;
    color: rgba(255, 255, 255, 0.9);
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/sansbold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.center-container {
    opacity: 0;
    animation: fadeIn 1s  forwards running;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.contact-item:hover {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.count {
    position: fixed;
    top: 10px;
    left: 10px;
}

.contact-item:hover .list-item {
    color: rgba(255, 255, 255, 0.5);
}

.loading {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
}

.loading {
    position: fixed;
    display: flex;
    align-items: center;
}

.loading i {
    margin: 0px 5px;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#video-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#video-toggle:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.contact-information {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    width: 320px;
    text-align: center;
}

.contact-information h2 {
    margin: 0;
    font-size: 24px;
}

.contact-details p {
    margin: 0;
    font-size: 16px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 2.5px rgba(255, 255, 255, 0.15);
    padding: auto;
}

.contact-details {
    font-size: 25px;
    line-height: 1.0;
    margin: 3% auto;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 3% 20%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    height: 20%;
    transition: transform 0.4s, box-shadow 0.3s;
}

.contact-icon {
    width: 5%;
    height: 40px;
    margin-right: -3%;
}

.contact-icon img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.center-container h2 {
    font-size: 25px;
}

